.CodeMirror{
    min-height: 100%;
    font-size: 16px;
    line-height:2rem;
    border-radius: 8px;
    padding: 4px;
}

@tailwind base;
@tailwind components;

.btn{
 @apply dark:text-zinc-500 px-3 w-auto h-8 rounded-md dark:hover:text-zinc-700
}

.btn-primary{
    @apply bg-transparent border-zinc-500 hover:border-zinc-700
}


@tailwind utilities;